body {
  background-color: rgba(17, 5, 5, 0.466);
  margin: 0px;
  padding: 0px;
  padding: 0px;
  margin: 0px;
}
*{
  
}
.header {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
}
.Links {
  background: #444;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.Links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.Links a:hover {
  background: #666;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1000px;
  margin: 0 auto;
}
.about {
  display: flex;
  flex-direction: column;
}
.box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #7f7f7f;
  width: 100%;
  align-self: stretch;
}

img {
  width: 100%;
  border-radius: 8px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  color: green;
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  background: #222;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #555;
}

footer {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 15px;
  align-items: center;
}
footer nav {
  background: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 10px;
}
footer nav a {
  color: #fcfcfc;
  text-decoration: none;
  width: 500;
}

footer nav a:hover {
  background: #666;
  border-radius: 20px;
}
p {
  font-size: 20px;
}
