.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/Web-Fundamentals/FileContentIndex/2d7798ae-eb6f-47e2-aa3e-962a61de0dcf.vsidx
.vs/Web-Fundamentals/FileContentIndex/cbd1839a-05f4-4699-80b9-0de51f0c51ce.vsidx
