body {
    background-color: lightblue;
}
/* This is a comment */
a {
    color: red;
}

p {
    font-style: italic;
}



.heading {
    color: purple;
    text-decoration: underline;
}

#my-div {
    border: 2px solid black;
    padding: 10px;
    width: 300px;
    margin-top: 20px;
    background-color: rgb(98, 230, 5);
}

.sub-title {
    color: rgb(4, 0, 255);
    font-size: 30px;
}